/**** Général *****/
body {
    font-family: roboto, sans-serif;
    margin: 0;
    background: #F6F6F6;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    margin: 0;
}

p{
    margin:0;
}

/**** Header ****/
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 63px;
    align-items: center;
    box-shadow: 0px 2px 4px 0px #00000026;

    i {
        padding: 17px;
        font-size: 17px;
        color: #101010;
    }

    h1 {
        font-family: Shrikhand, serif;
        font-size: 30px;
        font-style: italic;
        text-align: center;
        width: 100%;
    }

}

/* Spécificité header page d'accueil */

.body-index {
    header {
        i {
            display: none;
        }
    }
}

/******************* Styles page accueil *******************/

/**** Div localisation ****/

.localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #353535;
    font-size: 16px;
    font-weight: 500;
    background-color: #EAEAEA;

    i {
        padding-right: 15px;
    }
}

/**** Section Réserver et explorer ****/
.reserver-et-explorer {
    height: 287px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 42px;
    background-color: #F6F6F6;
    box-sizing: border-box;

    h3 {
        text-align: center;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }

    a {
        width: 218px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        box-shadow: 0px 4px 10px 0px #00000040;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 500px;
        font-size: 16px;
    }
}


/**** Section Réserver et explorer ****/

.fonctionnement {
    height: 440px;
    box-sizing: border-box;
    padding: 48px 20px;
    background-color: #ffffff;

    .les3etapes {
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 30px;

        .etape-fonctionnement {
            display: flex;
            flex-direction: row;
            align-items: center;
            

            .etape-number {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                background-color: #9356DC;
                color: #ffffff;
                width: 24px;
                height: 24px;
                font-family: roboto, sans-serif;
                font-size: 14px;
                font-weight: 500;
                margin-left: 10px;
                z-index: 1;
                position: absolute;
            }

            .etape-fonctionnement-content {
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: 20px;
                background-color: #F6F6F6;
                box-shadow: 0px 4px 15px 0px #00000026;
                width: 335px;
                height: 72.38px;
                margin-left: 20px;

                i {
                    color: #7E7E7E;
                    background-color: inherit;
                    padding: 0px 30px;
                }
                p{
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }
}

/**** Section restaurants ****/

.restaurants{
    padding: 48px 20px;

    .restaurants-cards{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-items: center;
        gap:18px;
        margin-top: 20px;

        .card{
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            width: auto;
            border-radius: 15px;
            box-sizing: border-box;

            img{
                height: 231px;
                width: 100%;
                object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
             }

             .nouveau{
                display: flex;
                align-items: center;
                width: 80px;
                height: 29px;
                background-color: #99E2D0;
                color: #008766;
                border-radius: 2px;
                justify-content: center;
                position: absolute;
                margin-left: 0;
                margin-bottom: 0;
             }
            
             .card-content{
                display: flex;
                flex-direction: column;
             }
        }
    }
}







/**** Footer ****/
footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    padding: 22px 25px;

    h1 {
        font-family: Shrikhand, serif;
        margin: 0;
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
        padding-bottom: 12px;
    }

    .footer-part {
        margin: 0;
        font-size: 16px;
        padding-top: 7px;

        a {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            i {
                padding-right: 10px;
            }
        }

    }

}