
$anim-delay: calc($anim-dur / 5);

.body{
    position:relative
}

.loader{
    margin:0;
    height:100%;
    width: 100%;
    position:absolute;
    z-index: 0;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__bars{
        display: flex;
        flex-direction: row;
        width: 30%;
        height:10%;
        justify-content: space-around;
        align-items: center;
        @media (min-width: 768.1px){
            width: 10%;
        }

        &__element{
            height:100%;
            width: 15%;
            opacity:0;
            border-radius: 5px;
            background: $purple-gradient;
            animation: appear $anim-dur ease-in-out 100ms both infinite alternate;

            @for $i from 1 through 5 {
                &--#{$i} {
                    animation-delay: $anim-delay * $i;
                }             
            }
        }
    }
}




.body-index{
    opacity:0;
    animation: loader 0ms 1600ms both;
    animation: appear 200ms ease-in-out 1600ms both ;
    position: absolute;
    z-index: 1;

}

.loader{
    opacity:1;
    animation: appear 200ms ease-in-out 1400ms both reverse;
}