.card__image__nouveau{
    display: flex;
    align-items: center;
    width: 80px;
    height: 29px;
    background-color: $green-light;
    color: #008766;
    border-radius: 2px;
    justify-content: center;
}