@charset "UTF-8";
/**** Général *****/
body {
  font-family: roboto, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

/**** Header ****/
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 63px;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
header i {
  padding: 17px;
  font-size: 17px;
  color: #101010;
}
header h1 {
  font-family: Shrikhand, serif;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  width: 100%;
}

/* Spécificité header page d'accueil */
.body-index header i {
  display: none;
}

/******************* Styles page accueil *******************/
/**** Div localisation ****/
.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  background-color: #EAEAEA;
}
.localisation i {
  padding-right: 15px;
}

/**** Section Réserver et explorer ****/
.reserver-et-explorer {
  height: 287px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 42px;
  background-color: #F6F6F6;
  box-sizing: border-box;
}
.reserver-et-explorer h3 {
  text-align: center;
}
.reserver-et-explorer p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.reserver-et-explorer a {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500px;
  font-size: 16px;
}

/**** Section Réserver et explorer ****/
.fonctionnement {
  height: 440px;
  box-sizing: border-box;
  padding: 48px 20px;
}
.fonctionnement .les3etapes {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
}
.fonctionnement .les3etapes .etape-fonctionnement {
  display: flex;
  flex-direction: row;
}
.fonctionnement .les3etapes .etape-fonctionnement i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #9356DC;
  color: #ffffff;
  width: 24px;
  height: 24px;
  font-family: roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.fonctionnement .les3etapes .etape-fonctionnement .etape-fonctionnement-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  width: 335px;
  height: 72.38px;
}
.fonctionnement .les3etapes .etape-fonctionnement .etape-fonctionnement-content i {
  color: #7E7E7E;
  background-color: inherit;
  padding: 0px 20px;
}

/**** Footer ****/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  padding: 22px 25px;
}
footer h1 {
  font-family: Shrikhand, serif;
  margin: 0;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  padding-bottom: 12px;
}
footer .footer-part {
  margin: 0;
  font-size: 16px;
  padding-top: 7px;
}
footer .footer-part a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
footer .footer-part a i {
  padding-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
